@font-face {
  font-family: "iconfont"; /* Project id 3345038 */
  src: url('iconfont.woff2?t=1651556999579') format('woff2'),
       url('iconfont.woff?t=1651556999579') format('woff'),
       url('iconfont.ttf?t=1651556999579') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e60b";
}

.icon-xingming:before {
  content: "\e611";
}

.icon-shoujihao:before {
  content: "\e617";
}

.icon-zhanghao:before {
  content: "\e66c";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-star:before {
  content: "\e7df";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-feiji:before {
  content: "\e60f";
}

.icon-moon:before {
  content: "\e829";
}

.icon-zhiwenjiesuo:before {
  content: "\e616";
}

.icon-hangzourenwu:before {
  content: "\e738";
}

